<div class="container">
  <div class="row">
    <div class="col">
      <h1>Dashboard</h1>
      <%= link_to "TFA setup", new_tfa_path %>
      <table class="table">
        <thead>
          <th>Entity ID</th>
        </thead>
        <tbody>
        <% @metadatum.each do |metadata| %>
          <tr>
            <td><%= metadata.entity_id %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
