<div class="container">
  <div class="columns">
    <div class="column">
      <% flash.each do |type, item| %>
        <% alter_class = alert_class_for(type) %>
        <% flash_error_messages_for(item).each do |value| %>
          <div data-controller="notification" class="notification <%= alter_class %>">
            <button data-action="click->notification#close" class="delete"></button>
            <%= value %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
