<div class="container">
  <% flash.each do |type, message| %>
    <% Array(message).each do |value| %>
      <div class="alert <%= alert_class_for(type) %> alert-dismissible fade show" role="alert">
        <strong><%= alert_message_for(type) %></strong> <%= value %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
  <% end %>
</div>
