<div class="container">
  <% flash.each do |type, message| %>
    <% Array(message).each do |value| %>
      <div class="notification <%= alert_class_for(type) %>">
        <button class="delete"></button>
        <%= value %>
      </div>
    <% end %>
  <% end %>
</div>
