<div class="container">
  <% flash.each do |type, message| %>
    <% Array(message).each do |value| %>
      <div data-controller="notification" class="notification <%= alert_class_for(type) %>">
        <button data-action="click->notification#close" class="delete"></button>
        <%= value %>
      </div>
    <% end %>
  <% end %>
</div>
